PORT=3010
NODE_ENV=development

FAF_BASE_URL=https://www.futbolaragon.com
FAF_TIMEOUT_MS=10000
FAF_MAX_RETRIES=2
FAF_USER_AGENT=spi-integrations-futbolaragon-api/1.0

FAF_SYNC_CLUB_ID=club-spike
FAF_SYNC_TEAM_ID=team-spike
FAF_SYNC_SOURCE_TEAM_SLUG=stadium-venecia-a
FAF_SYNC_MODE=incremental

DATABASE_URL="DATABASE_URL="mysql://root@127.0.0.1:3306/spi_integrations_futbolaragon""
